/* menu */

.menu {
  display: flex;
}
.menu-item {
  width: 25%;
  /* flex-grow: 1; */
  background: gold;
  transition: 0.5s;
}
.menu-item:hover {
  width: 35%;
  /* flex-grow: 1.5; */
  background: crimson;
}

.menu-link {
  display: block;
  padding: 1em;
  font-size: 1.2rem;
  color: #555;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.menu-link:hover {
  color: white;
}

/* search */
.search-form {
  display: flex;
  height: 40px;
}
.search-form input[type="search"] {
  flex: 1;
  margin-right: 10px;
  border: 0;
  border-radius: 0.3em;
  font-size: 1rem;
}

.search-form input[type="submit"] {
  width: 4em;
  border: 0;
  border-radius: 0.3em;
  font-size: 1rem;
  background: gold;
}

/* bullet list */
.info-list__item {
  display: flex;
  margin: 0.8em 0;
}
.info-list__item:before {
  /* 가상 element */
  content: "➽";
  margin-right: 0.5em;
}

/* message */
.user-item {
  display: flex;
  margin-bottom: 1.5em;
  /* em : html의 font-size 기준
    rem : 해당 태그 내의 font-size 기준;
  */
}

.user-photo {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: gold;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
}

/* friend list */
.friend-item {
  align-items: center;
}
.user-name {
  /* 외워두기 '말줄임표' */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.dialog {
  width: 50vw;
  padding: 2em;
  border-radius: 1em;
  background: white;
}

/* card-list */
.card-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  padding: 0 1em;
}
.card-image {
  height: 0;
  padding-bottom: 60%;
  /* 가로세로 비율을 유지하면서 반응형으로 만들기 위함. */
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-desc {
  flex: 1 1 auto;
  padding: 1em;
  background: white;
}

@media (min-width: 600px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
  }
  .card-item {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .card-item {
    width: 33.3333%;
  }
}
