.section-about {
  background-color: $color-grey-light-1;
  margin-top: -20vh;
  // polygon 설정에서 95vh와 75vh의 차이 값인 20vh.
  padding: 25rem 0;

  // TOO MUCH padding
  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);

  @media (min-resolution: 192dpi) and (min-width: 37.5em/* 600px / 16px */),
    (min-width: 125em/* 2000px / 16px */) {
    // dpi: dot per inch; 높아도 width 600px 밑에서는 hero-small이 출력됨.
    // 작은 화면에서 고해상도의 이미지를 불러오지 않기 위해 and를 사용하여 (min-width: 600px)를 추가한 것.
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.8),
        rgba($color-secondary-dark, 0.8)
      ),
      url(../img/nat-4.jpg);
  }

  & > * {
    transform: skewY(7deg);
  }

  // TOO MUCH padding
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
// .section-features * (direct-child : 바로 아래의 자식 요소.)

.section-tours {
  background-color: $color-grey-light-1;
  margin-top: -10rem;
  padding: 25rem 0 15rem 0;

  // TOO MUCH padding
  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;

  // TOO MUCH padding
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  // TOO MUCH padding
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover; // background-size: 100%;
  border-radius: 3px;
  box-shadow: $shadow;

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
